@import '../App.css';

.proposed-card{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.proposed-event-card{
    display: block;
    position: initial;
    border-radius: 15px;
    border: 2px dashed var(--peach-border-color);
    padding: 20px;
    margin: 50px;
}
.btn-secondary{
    background-color: #6c757d;
    color: #fff;
}
