@import '../App.css';

.acordion-my{
    --bs-accordion-bg: var(--peach-bg-color);
    --bs-accordion-border-color: var(--peach-border-color);
    --bs-accordion-active-bg:var(--peach-bg-tertiary);
    margin: 50px;
}
.acordion-item-my{
    border: dashed 2px var(--peach-border-color);
}
.my-input-text{
    --bs-body-bg: var(--peach-bg-color);
    --bs-tertiary-bg:var(--peach-bg-tertiary);
    --bs-border-color: var(--peach-border-color);
}
.my-input-text-group{
    margin: 50px;
    width: calc(100% - 100px);
}

.chat{
    border: dashed 2px var(--peach-border-color);
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1.5rem;
}
.chat-item{
    border:dashed 2px var(--peach-border-color);
    border-radius: 10px;
    padding: 20px;
}
.new-question{
    border: none;
    background: none;
    width: 100%;
    padding: auto;
    margin: 1.5rem auto;
}
.flex-start{
    /* max-width: 80%; */
    display: flex;
    justify-content: flex-start;

}
.flex-end{
    /* max-width: 80%; */
    display: flex;
    justify-content: flex-end;
}